.emptyTaskList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 15.25rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.emptyTaskList img {
  display: block;
}

.emptyTaskList p {
  display: block;
  color: var(--gray-300);
}